<div id="modalnotes" class="modal">
    <div class="modal-content">
        <h4 id="articleTitle"></h4>
        <div id="notesContainer"></div>
        <div class="divider"></div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="bodyinput" class="materialize-textarea"></textarea>
                        <label for="body">Note</label>
                    </div>
                </div>
                <div class="center-align">
                    <button class="btn waves-effect waves-light center-align" id="savenote" type="submit"
                        name="action">Save Note
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>