<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">NPR Article Scraper</h5>
                <p class="grey-text text-lighten-4">scraping articles from the national public radio's world news
                    page</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="" target="_blank">GitHub
                            Repo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container">
            Copyright © 2020
        </div>
    </div>
</footer>