body {
    font-family: 'Nunito', ;
}

.paddingbutton {
    margin-right: 20px;
}

@media (max-width: 768px){ 
    #smalltext {
        font-size: 1.3rem;  
        margin-left: -70px;
        padding: 0px;
    }
}