<div class="navbar-fixed">
    <nav class="grey darken-3">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" id="smalltext" class="brand-logo flow-text" style="font-family: 'Bitter';">
                    NPR Article Scraper</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Saved Articles</a></li>
                    <li><a class="waves-effect red darken-4 btn scrape">Scrape New Articles</a></li>
                    <li><a class="waves-effect red darken-4 btn clear">Clear Articles</a></li>

                </ul>
                <div class="right">
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
            </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/assets/images/sidebar.png">
            </div>
            {{!-- <a href="#user"><img class="circle" src="/images/loginicon.png"></a> --}}
            <div style="height: 200px;"></div>
            <a href="#name"><span class="white-text name">Mongo Scraper</span></a>
            <a href="#email"><span class="white-text email">National Public Radio Edition</span></a>
        </div>
    </li>
    <li><a href="/"><i class="material-icons">home</i> Home</a></li>
    <div class="divider"></div>
    <li><a href="/">Saved Articles</a></li>
    <li><a href="/">Scrape New Articles</a></li>
    <li><a href="/">Clear Articles</a></li>
</ul>